body {
  max-width: 100%;
  background-color: darksalmon;
}

.container {
  margin-top: 10px;
}
input {
  width: 100%;
  text-align: center;
  height: 100%;
}
#funcao_ca,
#funcao_mg {
  margin: 2px;
  font-size: 10px;
}

label {
  margin-left: 15px;
  color: white;
  background-color: #343a40;
  font-size: 10px;
}
table {
  font-size: 9px;
}

th,
td {
  text-align: center;
}

.center {
  text-align: center;
}

.btn-calcular {
  background: #343a40 !important;
  color: rgb(255, 255, 255) !important;
  width: 100%;
}

.feasible {
  background-color: rgba(81, 255, 0, 0.179);
}

.circle {
  margin-left: 70px;
  height: 30px;
  max-width: 10px;
  background-color: rgba(81, 255, 0, 0.179);
  border-radius: 50%;
  border: 1px solid;
}
